<span class="meta-tile" data-slug="about" data-title="Newth – About"></span>

<div class="scroll-container" data-scroll-container>
    <div  data-scroll-section>
        <div class="row">
            <div class="column col-1 col-sm-1">
                <span class="fix"></span>
            </div>
            <div class="column col-7 col-sm-10">
                <p class="big splitted _1" data-scroll data-scroll-speed="2">
                    <span class="black">Newth</span> Studio is a collective of <span class="black">like minded</span> creative people spread all around the <span class="black"> globe</span>.
                </p>
                <div class="row">
                    <div class="column col-4 ol-md-5 col-sm-6">
                        <p class="offset-left">1. Newth <br>
                            <span>N.  (neologism)</span> <br>
                            <span>Rare </span></p>
                    </div>
                    <div class="column col-4 ol-md-5 col-sm-6">
                        <p class="offset-left">2. 
                            Georges Benjamin 🇫🇷, <br> 
                            <span>David Kirschberg 🇳🇿</span>, <br>
                            <span >Kristine Moen 🇳🇴</span> 
                    </div>
                </div>
            </div>
            <div class="column col-4 col-sm-12" >
                <div class="img-container right">
                    <img class="_image" data-scroll data-scroll-speed="-2" src="/static/images/about_1.png" alt="">
                </div>
            </div>
        </div>
  
        <div class="row">
            <div class="column col-5 col-sm-12 not-mobile">
                <div class="img-container left">
                    <img class="_image" data-scroll data-scroll-speed="-2" src="/static/images/about_2.png" alt="">
                </div>
            </div>  
            <div class="column col-6 col-sm-10 col-sm-offset-1">
                <p class="big splitted _2" data-scroll data-scroll-speed="2">
                    We design and 
                    craft <span class="black">immersive</span> digital <span class="black">experiences</span>. 

                </p>
                <div class="row">
                    <div class="column col-5 col-md-5 col-sm-6">
                        <p class="offset-left">3. We believe in a broad <br>
                        <span>approach to digital design</span> <br>
                        <span>and a multi-faced development</span> <br> 
                        <span>vision</span>
                    </div>
                    <div class="column col-5 col-md-5 col-sm-6">
                        <p class="offset-left">4. 
                            Identity & Branding <br>
                            <span>Research and insight </span><br>
                            <span>Concept</span> <br>
                            <span>Product design</span> <br>
                            <span>Digital design</span> <br>
                            <span>User Experience </span> <br>
                            <span>Motion Design</span><br>
                            <span>Craft CMS </span><br>
                            <span>Mobile Development</span>

                    </div>
                </div>
            </div>

            <div class="column col-5 col-sm-12 only-mobile">
                <div class="img-container left">
                    <img class="_image" data-scroll data-scroll-speed="-2" src="/static/images/about_2.png" alt="">
                </div>
            </div> 
        </div>

        <div class="row">
            <div class="column col-1 col-sm-1">
                <span class="fix"></span>
            </div>
            <div class="column col-7 col-sm-10">
                <p class="big splitted _1" data-scroll data-scroll-speed="2">
                    <span class="black">We exist</span> thanks to our many <span class="black">contributors</span>, since <span class="black"> 2016</span>.
                </p>
                <div class="row">
                    <div class="column col-4 ol-md-5 col-sm-6">
                        <p class="offset-left">5. 
                            Giovani Xu, <br> 
                            <span>David Taing</span>,<br>
                            <span>Marie Yuki Ana</span>,<br>
                            <span>Ambre Leveque</span>,<br>
                            <span>Eugene G Lee</span>,<br>
                            <span>Luiz Henrique Machado</span>,<br>
                    </div>
                    <div class="column col-4 ol-md-5 col-sm-6">
                        <p class="offset-left">6. 
                            Makanaka Tuwe, <br> 
                            <span>Marius Mj Net</span>, <br>
                            <span>Baptiste Chaloux</span>, <br>
                            <span>Antoine Bordier</span>,<br>
                            <span>Caroline Manaud</span>, <br>
                            <span>Tristan Barbot</span>.<br>
                    </div>
                </div>
            </div>
            <div class="column col-4 col-sm-12" >
                <div class="img-container right">
                    <img class="_image" data-scroll data-scroll-speed="-2" src="/static/images/models_2.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column col-5 col-sm-12 not-mobile">
                <div class="img-container left">
                    <img class="_image" data-scroll data-scroll-speed="-2" src="/static/images/models_1.jpg" alt="">
                </div>
            </div>  
            <div class="column col-6 col-sm-10 col-sm-offset-1">
                <p class="big splitted _2" data-scroll data-scroll-speed="2">
                    We also run a <span class="black">model</span> agency and manage <span class="black">talents</span>. 

                </p>
                <div class="row">
                    <div class="column col-5 col-md-5 col-sm-6">
                        <p class="offset-left">7. Photographers & stylists <br>
                        <span>Storm Luu</span> <br>
                        <span>Antoine Bordier</span> <br> 
                        <span>Georges benjamin</span><br>
                        <span>Caroline Manaud</span><br>
                        <span>Heloise Arnault</span><br>
                        <span>Melissa Metifeu</span><br>
                        <span>Margaux Martins</span><br>
                    </div>
                    <div class="column col-5 col-md-5 col-sm-6">
                        <p class="offset-left">8. Models <br>
                            <span>Nina</span><br>
                            <span>Pauline</span> <br>
                            <span>Angele & Norah</span> <br>
                            <span>Yootha </span><br>
                            <span>Nathan</span><br>
                            <span>Lena</span><br>
                            <span>Manon</span><br>
                            <span>Sarah</span><br>

                    </div>
                </div>
            </div>
            <div class="column col-5 col-sm-12 only-mobile">
                <div class="img-container left">
                    <img class="_image" data-scroll data-scroll-speed="-2" src="/static/images/models_1.jpg" alt="">
                </div>
            </div>  
        </div>
    </div>
</div>

