<span class="meta-tile" data-slug="contact" data-title="Newth – Contact"></span>

<div class="scroll-container" data-scroll-container>
    <div  data-scroll-section>
        <div class="row">
            <div class="column col-1 col-sm-1">
                <span class="fix"></span>
            </div>
            <div class="column col-7 col-sm-10">
                <p class="big" data-scroll data-scroll-speed="2">
                    Let's work <span class="black">together</span>! <br> Have look at our <span class="black"><a href="/projects">featured projects</a></span> and get in touch with us by <span class="black">email</span> or by <span class="black">phone</span>.
                </p>
                <div class="row">
                    <div class="column col-3 col-md-5 col-sm-6">
                        <p class="offset-left">1. contact <br>
                            <span> <a href="tel:+33(0)758551994">+33(0)758551994</a></span> <br>
                            <span> <a href="mailto:hello@newth.studio">hello@newth.studio</a> </span></p>
                    </div>
                    <div class="column col-3 col-md-5 col-sm-6">
                        <p class="offset-left">2. 
                            48 Dr Schweitzer Street<br> 
                            <span>Le chatenet lieu-dit</span>, <br>
                            <span >24300, France</span> 🇫🇷
                    </div>
                </div>
            </div>
            <div class="column col-4 col-sm-12" >
                <div class="img-container right">
                    <img class="_image" data-scroll data-scroll-speed="-2" src="/static/images/contact_1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

