<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="img-container">
          <img src="/static/design/1.jpg" alt=""></div>
      </div>  
      <div class="swiper-slide">
        <div class="img-container"><img src="/static/design/2.jpg" alt=""></div>
      </div>  
      <div class="swiper-slide">
        <div class="img-container"><img src="/static/design/3.jpg" alt=""></div>
      </div>  
      <div class="swiper-slide">
        <div class="img-container"><img src="/static/design/4.jpg" alt=""></div>
      </div>  
      <div class="swiper-slide">
        <div class="img-container"><img src="/static/design/5.jpg" alt=""></div>
      </div>  
      <div class="swiper-slide">
        <div class="img-container"><img src="/static/design/6.jpg" alt=""></div>
      </div>  
      <div class="swiper-slide">
        <div class="img-container"><img src="/static/design/7.jpg" alt=""></div>
      </div>  
      <div class="swiper-slide">
        <div class="img-container"><img src="/static/design/8.jpg" alt=""></div>
      </div>  

    </div>
    <!-- Add Arrows 
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>-->
  </div>
  <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><p>S-magazine</p></div>
      <div class="swiper-slide"><p>Def Store</p></div>
      <div class="swiper-slide"><p>R-magazine</p></div>
      <div class="swiper-slide"><p>Kirschberg</p></div>
      <div class="swiper-slide"><p>Jojo Ross</p></div>
      <div class="swiper-slide"><p>Lazare</p></div>
      <div class="swiper-slide"><p>Epic struggle</p></div>
      <div class="swiper-slide"><p>Orgasm project</p></div>
     
    </div>
  </div>