<span class="meta-tile" data-slug="home" data-title="Newth – Home"></span>

<img class="_flag" src="/static/images/flag.gif" alt="">

<img class="_scroll" src="/static/images/scroll.png" alt="">


<div class="scroll-container" data-scroll-container>
    <div  data-scroll-section>
        <div class="row">
            <div class="column col-1 col-sm-1">
                <span class="fix"></span>
            </div>
            <div class="column col-7 col-sm-10">
                <p class="big splitted _1 first_p">
                    <span class="black">Newth</span> Studio is a collective of <span class="black">like minded</span> creative people spread all around the <span class="black"> globe</span>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="column col-1 col-sm-1">
                <span class="fix"></span>
            </div>
            <div class="column col-7 col-sm-10">
                <p class="big splitted _1" id="js-target">
                    We are <span class="black">digital natives</span> helping <span class="black">brands</span> & <span class="black">individuals</span> to <span class="black">synthetise</span> their ideas into the <span class="black">digital realm</span> since 2016</span>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="column col-1 col-sm-1">
                <span class="fix"></span>
            </div>
            <div class="column col-7 col-sm-10">
                <p class="big splitted _1">
                    <span class="black">Partners</span> include General Studios, Monopo Tokyo, Kuze Studio, TeamLab, Sage Gallery, Anagram & <span class="black">many more...</span></span>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="column col-1 col-sm-1">
                <span class="fix"></span>
            </div>
            <div class="column col-7 col-sm-10">
                <p class="big splitted _1l last_p">
                    Have look at our <span class="black"><a href="/projects">featured projects</a></span> and get in touch with us vis our <span class="black"><a href="/contact">contact</a></span> page.
                </p>
            </div>
        </div>
    </div>
</div>